# This is a basic workflow to help you get started with Actions

name: Hello World

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main
jobs:
  hello-job:
    runs-on: ubuntu-latest

    steps:
      - name: Echo text

        run: echo "Hello, world!"

